extends layout

block content
    h1 Контакты
    form(action ="/api/about" method="post" class="form")
        input(type="text" class="input" placeholder="first name" id="name" name="firstName")
        input(type="text" class="input" placeholder="second name" name="lastName")
        input(type="email" class="input" placeholder="email" name="email")
        input(type="tel" class="input" placeholder="mobile")
        input(type="login" class="input" placeholder="login" name="login")
        input(type="password" class="input" placeholder="password" name="password")
        button.btn_form Accept