extends layout

block content
    h1 Главная страница
    img(src="https://lh6.googleusercontent.com/PBFbRN7ORWscc1shzAEFdhhVnuZg-bNI9ZrO-mMm5Oyi4rT2HjlmEvH6vmoek96AtK_YMjW9DG2uq190rn51nU3NzBZVeUwo0XvNzHbekUmxRosEvji3oPSxPnHuAOpcH-8uvqJ9", alt="")